<div class="container">
  <div class="row">
<form class="details-form" #detailsForm="ngForm">
  <div class="details-form__top">
    Proposal submit form
  </div>
  <mat-form-field class="details-form__form-field" hintLabel="min 3, Max 25 characters." >
    <mat-label class="details-form__form-field__label">Description</mat-label>
    <input class="details-form__form-field__input" matInput placeholder="please enter description" [(ngModel)]="proposal.description" name="description" minlength="3" maxlength="25" required
           #description='ngModel' >
    <mat-error *ngIf="description.hasError">
     Description is not valid
    </mat-error>
  </mat-form-field>

  <mat-form-field class="details-form__form-field" hintLabel="min 3, Max 25 characters." >
    <mat-label class="details-form__form-field__label">Proposal name</mat-label>
    <input class="details-form__form-field__input" matInput placeholder="please enter proposal name" [(ngModel)]="proposal.name" name="proposalName" minlength="3" maxlength="25" required
           #proposalName='ngModel'>
    <mat-error *ngIf="proposalName.hasError">
      Proposal name not valid
     </mat-error>
  </mat-form-field>
  <mat-form-field class="details-form__form-field" hintLabel="min 3, Max 25 characters." >
    <mat-label class="details-form__form-field__label">Maximum price</mat-label>
    <input class="details-form__form-field__input" matInput placeholder="please enter proposal name" [(ngModel)]="proposal.maximumPrice" name="maximumPrice" minlength="3" maxlength="25" required
           #maximumPrice='ngModel'>
    <mat-error *ngIf="maximumPrice.hasError">
      Price is not valid
    </mat-error>
  </mat-form-field>
  <div class="details-form__form-field">
    <label class="details-form__form-field__label details-form__form-field--block">Choose working unit type</label>
    <mat-radio-group  aria-label="Select work type unit"  name="genders" class="details-form__form-field__gender" [(ngModel)]="proposal.workUnitType">
      <mat-radio-button value="HOURS">HOURS</mat-radio-button>
      <mat-radio-button value="DAYS">DAYS</mat-radio-button>
      <mat-radio-button value="MONTHS">MONTHS</mat-radio-button>
      <mat-radio-button value="PACKAGE">PACKAGE</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field class="details-form__form-field">
    <mat-label class="details-form__form-field__label">Applicant ID</mat-label>
    <textarea class="details-form__form-field__input" matInput placeholder="please enter applicant id" value="" [(ngModel)]="proposal.preferredSupplierClientId" name="applicantId"></textarea>
  </mat-form-field>
  <button class="details-form__submit" mat-flat-button color="accent" (click)="onDetailsFormSubmit()">Save proposal</button>
</form>
</div>
</div>

